<nav class="navbar navbar-light bg-light static-top">
    <div class="container">
        {{#if email}}
        <a class="navbar-brand" href="#/home">SoftBay</a>
        <a class="navbar-item" href="#/catalog">Dashboard</a>
        <a class="navbar-item" href="#/create">Create Offer</a>
        <!--BONUS (NOT REQUIRED)--><a class="navbar-item" href="#/home">Profile</a>
        <!--BONUS (NOT REQUIRED)-->
        <a class="navbar-item" href="#/logout">Logout</a>
        {{else}}
        <a class="navbar-brand" href="#/home">SoftBay</a>
        <a class="btn btn-warning" href="#/login">Login</a>
        {{/if}}
    </div>
</nav>